{% extends "base.html" %}
{% block title %}Нууц үг солих{% endblock%}
{% block content %}
<div class="container-fluid">
    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <div class="card">
        <form class="form-horizontal" action="/home/change_password" method="post" novalidate="" id="change_password">
            {% csrf_token %}
            <div class="content">
                <div class="col-md-12">
                    <div class="alert alert-warning" role="alert">Таны шинэ нууц үг 6 тэмдэгтээс дээш байна. Заавал 1 тоо, 1 үсэг, 1 тусгай тэмдэгт (<b>!@#$%^&*</b>) оруулсан байх ёстой.</div>
                </div>
                <div class="col-md-4">
                     <fieldset>
                        <div class="form-group">
                            <label class="control-label">Хуучин нууц үг</label>
                            <input class="form-control" type="password" name="old_pass" placeholder="Хуучин нууц үг" id="old_pass" required/>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4">
                     <fieldset>
                        <div class="form-group">
                            <label class="control-label">Шинэ нууц үг</label>
                            <input class="form-control" type="password" name="new_pass1" placeholder="Шинэ нууц үг" id="new_pass1" required/>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4">
                     <fieldset>
                        <div class="form-group">
                            <label class="control-label">Шинэ нууц үг /давт/</label>
                            <input class="form-control" type="password" name="new_pass2" placeholder="Шинэ нууц үг /давт/" id="new_pass2" required/>
                        </div>
                    </fieldset>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer text-center">
                <button type="reset" class="btn btn-waring btn-fill">Цэвэрлэх</button>
                <button type="submit" class="btn btn-primary btn-fill">Солих</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}
{% block headblock %}
<script style="text/javascript">
$('form#change_password').submit(function() {
    pass_css1 = $('input#new_pass1').attr('style');
    pass_css2 = $('input#new_pass2').attr('style');

    if($('input#new_pass1').val() == $('input#new_pass2').val()) {
        if(pass_css1.indexOf('green') >= 0 && pass_css2.indexOf('green') >= 0) {
            return true
        } else {
            alert('Таны шинэ нууц үг анхааруулах мессежтэй тохирохгүй байна.');
            return false;
        }
    } else {
        alert('Таны шинэ нууц үгнүүд хоорондоо тохирохгүй байна.');
        return false;
    }
});

$('input#new_pass1').keyup(function() {
    $(this).css('border', this.value.match(/^(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]).{6,}$/) ? '1px solid green' : '1px solid red');
});

$('input#new_pass2').keyup(function() {
    $(this).css('border', this.value.match(/^(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]).{6,}$/) ? '1px solid green' : '1px solid red');
});
</script>
{% endblock %}