{% extends "base.html" %}
{% block title %}Шуурхай ажиллагаа{% endblock%}
{% block link %}/home/ashiglalt/shuurhai_ajillagaa_list{% endblock %}
{% block content %}
{% if perms.data.add_shuurhaiajillagaa or perms.data.change_shuurhaiajillagaa %}
<div class="container-fluid">
    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="card">
        <form id="allInputsFormValidation" action="{{action}}" method="post">
            {% csrf_token %}
            <div class="content">
                {% if 'edit' in action %}
                <legend>Шуурхай ажиллагаа засах</legend>
                {% else %}
                <legend>Шуурхай ажиллагаа бүртгэх</legend>
                {%endif%}
                <div class="col-md-12">
					<fieldset>
                        <div class="form-group">
                            <label class="control-label">Огноо</label>
                            <input class="form-control datetimepicker1" placeholder="Огноо" type="text" name="ognoo" value="{{ajillagaa.ognoo|date:'m/d/Y H:i'}}" required/>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label">Тэмдэглэл</label>
                            <textarea class="form-control" rows="4" name="temdeglel" placeholder="Тэмдэглэл" maxlength="2000" required>{{ajillagaa.temdeglel}}</textarea>
                        </div>
                    </fieldset>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer text-center">
                <button type="submit" class="btn btn-info btn-fill">
                    {% if 'edit' in action %}
                        Засах
                    {% else %}
                        Хадгалах
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}