{% extends "base.html" %}
{% load homepage_tags %}
{% load humanize %}
{% block head_block %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            console.log("called javascript")
            $('select#select_general_types').change(function () {
                 var optionSelected = $(this).find("option:selected");
                 var valueSelected  = optionSelected.val();
                 var country_name   = optionSelected.text();

                 console.log(optionSelected.val());
                 data = {'name' : valueSelected };
                 ajax('/home/get_sub_call_types',data,function(result){

                        console.log(result);
                        $("#select_sub_type option").remove();
                        $("#select_sub_type").append('<option value=\'\'>Сонгох</option>');
                        for (var i = result.length - 1; i >= 0; i--) {
                            $("#select_sub_type").append('<option>'+ result[i].name +'</option>');
                        };
                 });
             });
        });
        
        $(document).ready(function() {

        function fill_last_zaalts(result){
            $('input#suuliin_zaalt').val(result.last_bichilt.day);
            $('input#t_mark').val(result.last_bichilt.mark);
            $('input#install_date').val(result.last_bichilt.installed_date);
            $('input#verify_date').val(result.last_bichilt.verified_date);
            $('input#t_amper').val(result.last_bichilt.amper);
            $('input#t_voltage').val(result.last_bichilt.voltage);
            $('input#t_tariff').val(result.last_bichilt.tariff);
            $('input#t_status').val(result.last_bichilt.status);
            $('input#t_initial').val(result.last_bichilt.initial);
            $('input#t_balance').val(result.last_bichilt.balance);
            $('input#t_tr_koef').val(result.last_bichilt.tr_koef);
            $('input#t_u_koef').val(result.last_bichilt.u_koef);
            $('input#t_angilal').val(result.last_bichilt.angilal);
        }
       
        $('select#tooluur_select').change(function () {
            var option_len = $(this).length + 1;
            if (option_len > 1){
                var optionSelected = $(this).find("option:selected");
                var valueSelected  = optionSelected.val();
                var user_id = 88888888;
                data = {'tooluur_id' : valueSelected , 'code':{{customer.code}},};
                ajax('/home/get_detail_bytooluur/',data,function(result){
                    fill_last_zaalts(result)
                });
            }
        });

        $('#collapseZero').collapse()
        $('#collapseZero1').collapse()
    });
    </script>
{% endblock %}
{% block link %}/home/call_list{% endblock%}
{% block title %}Дуудлага{% endblock %}
{% block content %}
{% if perms.data.view_call %}
<div class="container-fluid">
    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="card" style="padding-top:20px;">
        <div id="accordion" role="tablist" aria-multiselectable="true" style="margin:20px !important;">
            {% if perms.data.add_call %}
            <div class="card">
                <div class="card-header" role="tab" id="headingZero">
                    <h5 class="mb-0" style="padding:10px;">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="false" aria-controls="collapseTwo">
                            Дуудлага бүртгэх
                            <b class="caret"></b>
                        </a>
                    </h5>
                </div>
                <div id="collapseZero" class="collapse" role="tabpanel" aria-labelledby="headingZero">
                    <div class="card-block">
                        <div class="panel-body">
                            <form action="/home/call_add/{{customer.code}}/" method="post" id="allInputsFormValidation" class="form-horizontal">
                                {% csrf_token %}
                                <div class="content">
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Хэрэглэгчийн код</label>
                                        <input class="form-control" type="text" value="{{customer.code}}" name="user_code" disabled />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Хэрэглэгчийн овог нэр</label>
                                        <input class="form-control" type="text" value="{{customer.last_name}} {{customer.first_name}}" disabled />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Хэрэглэгчийн утасны дугаар</label>
                                        <input class="form-control" type="text" value="{{customer.phone}}" disabled/>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Залгасан утасны дугаар</label>
                                        <input class="form-control" type="text" name="call_phone"/>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Эхний үлдэгдэл</label>
                                        <input class="form-control" placeholder="Эхний үлдэгдэл" type="text" value="{{first_uld|floatformat:'2'|intcomma}}" disabled/>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Сүүлийн сарын бичилт</label>
                                        <input class="form-control" placeholder="Сүүл сарын бичилт" type="text" value="{{bichilt|floatformat:'2'|intcomma}}" disabled/>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Энэ сарын орлого</label>
                                        <input class="form-control" placeholder="Энэ сарын орлого" type="text" value="{{tulbur|floatformat:'2'|intcomma}}" disabled/>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Төлбөрийн эцсийн үлдэгдэл</label>
                                        <input class="form-control" placeholder="Төлбөрийн эцсийн үлдэгдэл" type="text" value="{{last_uld|floatformat:'2'|intcomma}}" disabled/>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-md-9">
                                        <label class="control-label">Хаяг</label>
                                        <input class="form-control" placeholder="Хаяг" type="text" value="{{address_name}}" disabled/>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Бүртгэсэн ажилтан</label>
                                        <input class="form-control" placeholder="Бүртгэсэн ажилтан" type="text" name="" value="{{request.user.last_name}} {{request.user.first_name}}" disabled/>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Дуудлагын төрөл</label>
                                        <select class="form-control" name="select_call_type" oninvalid="this.setCustomValidity('Та талбарыг заавал сонгоно уу')" required>
                                            <option value="">Сонгох</option>
                                            {% for call_type in call_types %}
                                                <option value="{{call_type.id}}">{{call_type.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label" id="assigning_title">Хариуцах ажилтан</label>
                                        <select class="form-control" id="select_user" name="select_user" required oninvalid="this.setCustomValidity('Та талбарыг заавал оруулна уу')" oninput="setCustomValidity('')">
                                            <option value="">- Сонгох -</option>
                                            {% for user in users %}
                                            {% if request.user.id == user.id %}
                                                <option value="{{user.id}}" selected>{{user.user.first_name}} {{user.user.last_name}}</option>
                                            {% else %}
                                                <option value="{{user.id}}">{{user.user.first_name}} {{user.user.last_name}}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Дуудлагын огноо</label>
                                        <input name="created_date" value="{{now|date:'Y-m-d h:i'}}" class="form-control datetimepicker1" type="text" disabled>
                                        <input value="{{now|date:'Y-m-d h:i'}}" name="created_date" type="hidden">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label">Шийдвэрлэсэн огноо</label>
                                        <input class="form-control datetimepicker1" name="completed_date" type="text">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Тайлбар</label>
                                        <textarea class="form-control" rows="6" name="note"></textarea>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-info btn-fill" name="save">Бүртгэх</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <div id="accordion" role="tablist" aria-multiselectable="true" style="margin:20px !important;">
            <div class="card">
                <div class="card-header" role="tab" id="headingZero1">
                    <h5 class="mb-0" style="padding:10px;">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseZero1" aria-expanded="false" aria-controls="collapseTwo">
                            Авлагын мэдээлэл
                            <b class="caret"></b>
                        </a>
                    </h5>
                </div>
                <div id="collapseZero1" class="collapse" role="tabpanel" aria-labelledby="headingZero1">
                    <div class="card-block">
                        <div class="panel-body">
                            <form method="POST" action="/home/borluulalt/avlaga/1/">{% csrf_token %}
                                <div class="table_search_filter">
                                    <div class="form-group col-md-3">
                                        <label>Эхлэх огноо</label>
                                        {% minus_1months now as minus_1months %}
                                        <input type="text" class="form-control datetimepicker"
                                               placeholder="Эхлэх огноо" name="start_date"
                                               required value="{{minus_1months}}">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Дуусах огноо</label>
                                        <input type="text" class="form-control datetimepicker"
                                               placeholder="Дуусах огноо" name="end_date"
                                               required value="{{now|date:'Y-m-d'}}" >
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Хэрэглэгчийн код</label>
                                        <input value="{{customer.code}}" type="text" maxlength="10"
                                               placeholder="Хэрэглэгчийн код" class="form-control" name="customer_code" readonly>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Хэрэглэгчийн нэр</label>
                                        <input value="{{customer.first_name}}" type="text" maxlength="50"
                                               placeholder="Хэрэглэгчийн нэр" class="form-control" name="customer_name" readonly>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-warning btn-fill btn-wd">Шүүж харах</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>

                            <table id="bootstrap-table1" class="table" id="av_table" name="av_table" data-unique-id="id">
                                <thead>
                                <th class="text-center">№</th>
                                <th data-field="code" data-sortable="true" class="text-left">Хэрэглэгчийн код</th>
                                <th data-field="name" data-sortable="true" class="text-left">Хэрэглэгчийн нэр</th>
                                <th data-field="phone" data-sortable="true" class="text-left">Утасны дугаар</th>
                                <th data-field="address" data-sortable="true" class="text-left">Хаяг</th>
                                <th data-field="vldegdel" data-sortable="true" class="text-right">Эхний үлдэгдэл</th>
                                <th data-field="bichilt" data-sortable="true" class="text-right">Бичилт</th>
                                <th data-field="orlogo" data-sortable="true" class="text-right">Орлого</th>
                                <th data-field="latest_vldegdel" data-sortable="true" class="text-right">Эцсийн үлдэгдэл</th>
                                <th data-field="actions" class="td-actions text-center">Нэхэмжлэх/Дэлгэрэнгүй</th>
                                </thead>
                                <tbody>
                                {% for detail in request.session.avlaga_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ detail.code }}</td>
                                    <td>{{ detail.first_name }} {{ detail.last_name }}</td>
                                    <td>{{ detail.phone }}</td>
                                    <td>{{ detail.address_name }}</td>
                                    <td align="right">{{ detail.ehnii|floatformat:"2"|intcomma }}</td>
                                    <td align="right">{{ detail.bichilt|floatformat:"2"|intcomma }}</td>
                                    <td align="right">{{ detail.payment|floatformat:"2"|intcomma }}</td>
                                    <td align="right">
                                        {% append detail.ehnii detail.bichilt as avlaga_all %}
                                        {% reduce avlaga_all detail.payment as balance %}
                                        {{ balance|floatformat:"2"|intcomma }}
                                    </td>
                                    <td align="center">
                                        {% if customer.customer_angilal == '1' %}
                                        <a href="/home/borluulalt/invoice_ahui/0/{{customer.code}}/{{minus_1months}}/{{now|date:'Y-m-d'}}/{{before_balance}}/{{tulbur}}/{{before_orlogo}}/{{bichilt}}/" target="_blank"><i class="fa fa-file-o"></i></a>
                                        {% elif customer.customer_angilal == '0' %}
                                        <a href="/home/borluulalt/invoice_aan/0/{{detail.code}}/{{search.start_date}}/{{search.end_date}}/{% if detail.ehnii %}{{detail.ehnii}}{% else %}0.00{% endif %}/0.00/{% if detail.payment %}{{detail.payment}}{% else %}0.00{% endif %}/{% if detail.bichilt %}{{detail.bichilt}}{% else %}0.00{% endif %}/" target="_blank"><i class="fa fa-file-o"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <legend>Хэрэглэгчийн дэлгэрэнгүй мэдээлэл</legend>

            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0" style="padding:10px;">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                                Гэрээний мэдээлэл
                                <b class="caret"></b>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block">
                            <div class="panel-body">
                                <div class="col-md-3">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Хэрэглэгчийн код</label>
                                            <h6>{{customer.code}}</h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Хэрэглэгчийн овог</label>
                                            <h6>{{customer.last_name}}</h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Хэрэглэгчийн нэр</label>
                                            <h6>{{customer.first_name}}</h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Утасны дугаар</label>
                                            <h6>{{customer.phone}}</h6>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-3">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Гэрээний дугаар</label>
                                            <h6>{{geree.contract_number}}</h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Гэрээ байгуулсан огноо</label>
                                            <h6>{{geree.contract_made_date|date:"SHORT_DATE_FORMAT"}}</h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Гэрээ сунгасан огноо</label>
                                            <h6>{{geree.contract_extend_date|date:"SHORT_DATE_FORMAT"}}</h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Гэрээ дуусах огноо</label>
                                            <h6>{{geree.contract_expire_date|date:"SHORT_DATE_FORMAT"}}</h6>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-3">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Мэйл хаяг</label>
                                            <h6>{{customer.email|default_if_none:"-"}}</h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Ангилал</label>
                                            <h6>
                                                {% if customer.customer_angilal == "0" %}
                                                    Аж ахуй нэгж
                                                {% elif customer.customer_angilal == "1" %}
                                                    Ахуйн хэрэглэгч
                                                {% elif customer.customer_angilal == "2" %}
                                                    Үйлдвэр үйлчилгээ
                                                {% else %}
                                                    Нийтийн эзэмшил
                                                {% endif %}
                                            </h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Цикл</label>
                                            <h6>{{cycle.name}}</h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Дэд станц</label>
                                            <h6>
                                            {% if ded != None %}
                                                {{ded.name}}
                                            {% else %}
                                                -
                                            {% endif %}
                                            </h6>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-3">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Төлбөр төлөх банк</label>
                                            <h6>{{bank.name|default_if_none:"-"}}</h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Төлбөр төлөх данс</label>
                                            <h6>{{bank.dans|default_if_none:"-"}}</h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Хаяг</label>
                                            <h6>{{address_name}}</h6>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0" style="padding:10px;">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Төлбөрийн мэдээлэл
                                <b class="caret"></b>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-block">
                            <div class="panel-body">
                                <div class="col-md-3">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Эхний үлдэгдэл</label>
                                            <h6>{{first_uld}} төгрөг</h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Тоолуурын заалт авсан огноо</label>
                                            <h6>{{zdate|date:'Y-m-d'}}</h6>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-3">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Сүүлийн сарын бичилт</label>
                                            <h6>{{bichilt}} төгрөг</h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Тоолуурын заалт</label>
                                            <h6>Өдөр: {{day}} | Шөнө: {{night}} | Оргил: {{rush}}</h6>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-3">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Энэ сарын нийт орлого</label>
                                            <h6>{{tulbur}} төгрөг</h6>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Сүүлийн сарын нэхэмжлэх</label>
                                            {% minus_1months now as minus_1months %}
                                            {% if customer.customer_angilal == '0' %}
                                                <a class="btn" style="width:200px;" target="_blank" href="/home/borluulalt/invoice_aan/0/{{customer.code}}/{{minus_1months}}/{{now|date:'Y-m-d'}}/{{before_balance}}/{{tulbur}}/{{before_orlogo}}/{{bichilt}}/">Харах</a>
                                            {% else %}
                                                <a class="btn" style="width:200px;" target="_blank" href="/home/borluulalt/invoice_ahui/0/{{customer.code}}/{{minus_1months}}/{{now|date:'Y-m-d'}}/{{before_balance}}/{{tulbur}}/{{before_orlogo}}/{{bichilt}}/">Харах</a>
                                            {% endif %}
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-3">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Эцсийн үлдэгдэл</label>
                                            <h6>{{last_uld}} төгрөг</h6>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="headingThree">
                        <h5 class="mb-0" style="padding:10px;">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                Тоолуурын мэдээлэл
                                <b class="caret"></b>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-block">
                            <div class="panel-body">
                            <div id="tooluur_div">
                            <div class="col-md-3">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Тоолуурын дугаар</label>
                                        <select
                                            name="tooluur_select" id="tooluur_select" class="selectpicker"
                                            data-title="- Сонгох -" data-style="btn-default btn-block"
                                            data-menu-style="dropdown-blue" required >
                                            {% for item in tooluur %}
                                            <option value="{{item.number}}">{{item.number}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Тоолуур суурилуулсан огноо</label>
                                        <h6><input style="border: none;background: none;" type="text" id="install_date" name="install_date" disabled="true"/></h6>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Баталгаажсан огноо</label>
                                        <h6><input style="border: none;background: none;" type="text" id="verify_date" name="verify_date" disabled="true"/></h6>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-3">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Төлөв</label>
                                        <h6><input style="border: none;background: none;" type="text" id="t_status" name="t_status" disabled="true"/></h6>
                                    </div>
                                </fieldset>
                                 <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Тоолуурын марк</label>
                                        <h6><input style="border: none;background: none;" type="text" id="t_mark" name="t_mark" disabled="true"/></h6>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Тариф</label>
                                        <h6><input style="border: none;background: none;" type="text" id="t_tariff" name="t_tariff" disabled="true"/></h6>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-3">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Ампер</label>
                                        <h6><input style="border: none;background: none;" type="text" id="t_amper" name="t_amper" disabled="true"/></h6>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Хүчдэл</label>
                                        <h6><input style="border: none;background: none;" type="text" id="t_voltage" name="t_voltage" disabled="true"/></h6>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Хүчдэлийн коеффициент</label>
                                        <h6><input style="border: none;background: none;" type="text" id="t_u_koef" name="t_u_koef" disabled="true"/></h6>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-3">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Трансформаторын коеффициент</label>
                                        <h6><input style="border: none;background: none;" type="text" id="t_tr_koef" name="t_tr_koef" disabled="true"/></h6>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Эхний заалт</label>
                                        <h6><input class="form-control" style="border: none;background: none;" type="text" id="t_balance" name="t_balance" disabled/></h6>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Сүүлчийн заалт</label>
                                        <h6><input class="form-control" style="border: none; background: none;" type="text" id="t_initial" name="t_initial" disabled/></h6>
                                    </div>
                                </fieldset>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="headingFour">
                        <h5 class="mb-0" style="padding:10px;">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                                Сүүлд ирсэн дуудлагын мэдээлэл
                                <b class="caret"></b>
                            </a>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="card-block">
                            <div class="panel-body">
                                <table id="bootstrap-table1" class="table">
                                    <thead>
                                        <th data-field="check" data-sortable="false"></th>
                                        <th data-field="latest_vldegdel" data-sortable="false">Бүртгэгдсэн огноо</th>
                                        <th data-field="vldegdel" data-sortable="false">Төрөл</th>
                                        <th data-field="tuluv" data-sortable="false">Төлөв</th>
                                        <th data-field="ognoo" data-sortable="false">Шийдвэрлэсэн огноо</th>
                                        <th class="text-center"  data-field="orlogo" data-sortable="false">Тайлбар</th>
                                        <th data-field="actions">Харах</th>
                                    </thead>
                                    <tbody>
                                       {% for detail in call_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ detail.call_created_date|date:"Y-m-d" }}</td>
                                            <td>{{ detail.call_sub_type.name}}</td>
                                            {% if detail.status == "0" %}
                                                <td>Шийдвэрлээгүй </td>
                                            {% elif detail.status == "1" %}
                                                <td>Шийдвэрлэсэн</td>
                                            {% else %}
                                                <td> - </td>
                                            {% endif %}
                                            {% if detail.completed_date != None %}
                                                <td>{{ detail.completed_date|date:"Y-m-d"}}</td>
                                            {% else %}
                                                <td> - </td>
                                            {% endif %}
                                            {% if detail.note != None and detail.note != '' %}
                                                <td>{{ detail.note }}</td>
                                            {% else %}
                                                <td> - </td>
                                            {%endif %}
                                            <td class="td-actions text-center">
                                                 <a href="/home/call_detail/{{detail.id}}/" class="btn btn-simple btn-info btn-icon table-action view">
                                                    <i class="fa fa-eye"></i>
                                                 </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}