{% extends 'base.html' %}
{% block title %}Төлбөрт үйлчилгээ{% endblock %}
{% block head_block %}
{% endblock %}
{% block content %}
{% if perms.data.view_customeruilchilgeetulbur %}
<div class="container-fluid">
    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if perms.data.change_tuluvluguu %}
    <div class="row">
        <div class="col-md-12">
            <a href="/home/add_vilchilgee" class="btn btn-primary btn-fill btn-wd" type="button">Төлбөрт үйлчилгээ
                бүртгэх</a>
        </div>
        <div class="clearfix"></div>
        <br/>
    </div>
    {% endif %}
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    Төлбөрт үйлчилгээний жагсаалт
                </div>
                <form method='POST' action='/home/vilchilgee'>{% csrf_token %}
                <div class="table_search_filter">
                        <div class="table_search_filter">
                            <div class="form-group col-md-3">
                                <label>Огноо /эхлэх/</label>
                                <input type="text" class="form-control datetimepicker"
                                       placeholder="" name="start_d" id="start_d"
                                       value="{{search_q.start_d}}">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Огноо /дуусах/</label>
                                <input type="text" class="form-control datetimepicker"
                                       placeholder="" name="end_d" id="end_d"
                                       value="{{search_q.end_d}}">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Хэрэглэгчийн код</label>
                                <input placeholder="Хэрэглэгчийн код" name="user_code" value="{{search_q.user_code}}" class="form-control">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Төлбөрт үйлчилгээ</label>
                                <select class="form-control" name="services">
                                    <option value="">- Сонгох -</option>
                                    {% for s in servicelist %}
                                    {% if search_q.service == s.id %}
                                        <option value="{{s.id}}" selected>{{s.name}}</option>
                                    {% else %}
                                        <option value="{{s.id}}">{{s.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-warning btn-fill btn-wd">Шүүж харах</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                </div>
                <div class="download_button text-right">
                    <button class="btn btn-success btn-fill" type="submit" name="export_xls"><span class="fa fa-file-excel-o"></span>
                        Файлаар татаж авах
                    </button>
                </div>
                </form>

                <table id="bootstrap-table1" class="table">
                    <thead>
                    <th class="text-center">№</th>
                    <th data-field="id" data-sortable="true">Хэрэглэгчийн код</th>
                    <th data-field="name" data-sortable="true">Хэрэглэгчийн овог нэр</th>
                    <th data-field="address" data-sortable="true">Хаяг</th>
                    <th data-field="vldegdel" data-sortable="true">Үйлчилгээний нэр</th>
                    <th data-field="orlogo" data-sortable="true">Төлбөр</th>
                    <th class="text-center" data-field="latest_vldegdel" data-sortable="true">Бүртгэгдсэн огноо</th>
                    <th data-field="action" data-sortable="false">Устгах</th>
                    </thead>
                    <tbody>
                    {% for detail in datas %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{detail.customer.code}}</td>
                        <td>{{detail.customer.first_name}} {{detail.customer.last_name}}</td>
                        <td>{{detail.customer.address.address_name}}</td>
                        <td>{{detail.uilchilgee.name}}</td>
                        <td>{{detail.payment}} ₮</td>
                        <td>{{detail.uil_date|date:"Y-m-d"}}</td>
                        <td>
                            {% if perms.data.delete_customeruilchilgeetulbur %}
                           <a href="/home/vilchilgee/delete/{{detail.id}}/" onclick="return confirm('Та {{detail.customer.code}} кодтой хэрэглэгчийн {{detail.payment}} ₮ төлбөрт үйлчилгээг устгахдаа итгэлтэй байна уу?')"
                               class="btn btn-simple btn-info btn-icon table-action view" >
                                <i class="fa fa-trash-o"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!--  end card  -->
        </div>
    </div>
</div>
{% endif %}
{% endblock %}