{% extends "base.html" %}
{% block title %}Дэд станц ангилал{% endblock%}
{% block link %}/home/lavlagaa/list_ded_stants_angilal{% endblock%}
{% block content %}
<div class="container-fluid">
{% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <div class="card">
        <form id="allInputsFormValidation" class="form-horizontal" action="{{action}}" method="post">
            {% csrf_token %}
            <div class="content">
                {% if 'edit' in action %}
	                <legend>Дэд станц ангилал засах</legend>
	            {% else %}
	                <legend>Дэд станц ангилал бүртгэх</legend>
	            {%endif%}
                <div class="col-md-6">
                     <fieldset>
                        <div class="form-group">
                            <label class="control-label">Дэд станц ангилал</label>
                            <input class="form-control" type="text" name="name" placeholder="Дэд станц ангилал" maxlength="100" value="{{ded_stants_angilal.name}}" required/>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label">Дэд станц ангилал тайлбар</label>
                            <input class="form-control" type="text" name="description" placeholder="Дэд станц ангилал тайлбар" maxlength="255" value="{{ded_stants_angilal.description}}"/>
                        </div>
                    </fieldset>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer text-center">
                {% if 'edit' in action %}
                    <button type="submit" class="btn btn-info btn-fill">Засах</button>
                {% else %}
                    <button type="submit" class="btn btn-info btn-fill">Бүртгэх</button>
                    <button type="submit" class="btn btn-info btn-fill" name="save_and_continue">Бүртгэх & Үргэлжлүүлэх</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}