{% extends "base.html" %}
{% block title %}Албан тушаал{% endblock%}
{% block link %}/home/lavlagaa/alban_tushaal{% endblock%}
{% block content %}
<div class="container-fluid">
{% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <div class="card">
        <form id="allInputsFormValidation" class="form-horizontal" action="" method="post" novalidate="">
            {% csrf_token %}
            <div class="content">
                {% if urlz == "/home/lavlagaa/add_alban_tushaal" %}
                    <legend>Албан тушаалын мэдээлэл бүртгэх</legend>
	            {% else %}
	                <legend>Албан тушаалын мэдээлэл засах</legend>
	            {%endif%}
                <div class="col-md-6">
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label">Нэр</label>
                             <input class="form-control" type="text" name="name" value="{{name}}" required/>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
					<fieldset>
						<div class="form-group">
							<label class="control-label">Код</label> 
                            <input class="form-control" type="text" number="true" name="code" value="{{code}}" required/>
                        </div>
					</fieldset>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer text-center">
                {% if urlz == "/home/lavlagaa/add_alban_tushaal" %}
                    <button type="submit" class="btn btn-info btn-fill" name="save">Бүртгэх</button>
                    <button type="submit" class="btn btn-info btn-fill" name="save_and_continue">Бүртгэх & Үргэлжлүүлэх</button>
                {% else %}
                   <button type="submit" class="btn btn-info btn-fill">Засах</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}