{% extends "base.html" %}
{% block title %}Дэд станц
{% endblock%}
{% block content %}
<div class="container-fluid">
    {% if messages %}
		<ul class="messagelist">
			{% for message in messages %}
			<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
    {% if perms.data.add_dedstants %}
    <div class="row">
        <div class="col-md-12">
            <a href="/home/lavlagaa/add_ded_stants" class="btn btn-primary btn-fill btn-wd"
               type="button">Дэд станц бүртгэх</a>
        </div>
        <div class="clearfix"></div>
        <br/>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">Нийт бүртгэлтэй дэд станц</div>
                <form id="" class="form-horizontal" action="/home/lavlagaa/ded_stants"
                      method="POST"
                      novalidate="">
                    {% csrf_token %}
                    <div class="table_search_filter">
                        <div class="form-group col-md-3">
                            <label>Нэр</label>
                            <input placeholder="Нэр" class="form-control" name="name"
                                   value="{{search_q.name}}">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Толгой дэд станц</label>
                            <select class="form-control" id="select_stants" name="select_stants">
                                <option value="">-Сонгох-</option>
                                {% for element in ded_stants %}
                                    {% if element.id == search_q.parent_station %}
                                        <option value={{ element.id }} selected>{{ element.name }}</option>
                                    {% else %}
                                        <option value={{ element.id }}>{{ element.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Байршил</label>
                            <input placeholder="Байршил" class="form-control" name="s_address"
                                   value="{{search_q.s_address}}">
                        </div>
                         <div class="form-group col-md-3">
                            <label>Чадал</label>
                            <input placeholder="Чадал" class="form-control" name="chadal"
                                   value="{{search_q.s_chadal}}" type="number" maxlength="9999">
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-warning btn-fill btn-wd" type="submit">Шүүж харах</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>

                <table id="bootstrap-table1" class="table" style="margin-left: 10px;">
                    <thead>
                    <th data-field="check" data-checkbox="true" class="text-center">№</th>
                    <th data-field="name" data-sortable="true" class="text-left">Нэр</th>
                    <th data-field="angilal" data-sortable="true" class="text-left">Ангилал</th>
                    <th data-field="etseg_stants" data-sortable="true" class="text-left">Толгой дэд станц</th>
                    <th data-field="chadal" data-sortable="true" class="text-center">Чадал</th>
                    <th data-field="bairshil" data-sortable="true" class="text-right">Байршил</th>
                    <th data-field="actions" class="td-actions text-center" data-events="operateEvents"
                        data-formatter="operateFormatter">Засвар
                    </th>
                    </thead>
                    <tbody>
                    {% for detail in datas %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td class="text-left">{{ detail.name }}</td>
                        <td class="text-left">{{ detail.angilal.name }}</td>
                        {% if detail.dname == None %}
                            <td> - </td>
                        {% else %}
                            <td class="text-left">{{ detail.dname }}</td>
                        {%endif%}
                        <td class="text-right">{{ detail.chadal|floatformat:"2" }}</td>
                        <td class="text-right">{{ detail.s_address }}</td>
                        <td class="td-actions text-center">
                            {% if perms.data.change_dedstants %}
                            <a href="/home/lavlagaa/dedstants_edit/{{detail.id}}/"
                               class="btn btn-simple btn-warning btn-icon table-action edit">
                                <i class="fa fa-edit"></i>
                            </a>
                            {% endif %}
                            {% if perms.data.delete_dedstants %}
                            <a href="/home/lavlagaa/dedstants_del/{{detail.id}}/"
                               onclick="return confirm('Бичлэгийг устгахдаа итгэлтэй байна уу?')"
                               class="btn btn-simple btn-danger btn-icon table-action remove">
                                <i class="fa fa-remove"></i>
                            </a>
                            {% endif %}
                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">Нийт чадал:</td>
                        <td class="text-right"><b>{{total_chadal|floatformat:"2"}}</b></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}
