{% extends "base.html" %}
{% block title %}Шугам{% endblock%}
{% block content %}
<div class="container-fluid">
    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if perms.data.add_shugam %}
    <div class="row">
        <div class="col-md-12">
            <a href="/home/lavlagaa/add_shugam" class="btn btn-primary btn-fill btn-wd"
               type="button">Шугамын утга бүртгэх</a>
        </div>
        <div class="clearfix"></div>
        <br/>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">Нийт бүртгэлтэй шугамын утгууд</div>
                <div class="content content-full-width">
                    <form method="POST" action="/home/lavlagaa/shugam">
                        {% csrf_token %}
                        <div class="table_search_filter">
                            <div class="form-group col-md-4">
                                <label>Нэр</label>
                                <input placeholder="Нэр" class="form-control" name="ner" value="{{search_q.ner}}">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Тип</label>
                                <select class="form-control" name="tip">
                                    <option value="">Сонгох</option>
                                    <option value="0" {%if search_q.tip == '0'%}selected{%endif%}>Оролт</option>
                                    <option value="1" {%if search_q.tip == '1'%}selected{%endif%}>Гаралт</option>
                                    <option value="2" {%if search_q.tip == '2'%}selected{%endif%}>СХВТ</option>
                                    <option value="3" {%if search_q.tip == '3'%}selected{%endif%}>СХС</option>
                                    <option value="4" {%if search_q.tip == '4'%}selected{%endif%}>ДХТ</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Төлөв</label>
                                <select class="form-control" name="tuluv">
                                    <option value="">Сонгох</option>
                                    <option value="0" {%if search_q.tuluv == '0'%}selected{%endif%}>Залгаатай</option>
                                    <option value="1" {%if search_q.tuluv == '1'%}selected{%endif%}>Тасархай</option>
                                    <option value="2" {%if search_q.tuluv == '2'%}selected{%endif%}>Бэлтгэлт</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-4">
                                <label>Дэд станц</label>
                                <select class="form-control" name="ded_stants">
                                    <option value="">Сонгох</option>
                                    {% for ded_stant in ded_stants %}
                                    {% if ded_stant.id == search_q.ded_stants %}
                                    <option value="{{ded_stant.id}}" selected>{{ded_stant.name}}</option>
                                    {% else %}
                                    <option value="{{ded_stant.id}}">{{ded_stant.name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Тоолуурын нэр</label>
                                <input placeholder="Тоолуурын нэр" class="form-control" name="tooluur" value="{{search_q.tooluur}}">
                            </div>
                             <div class="form-group col-md-4">
                                <label>Суурилуулсан огноо</label>
                                <input placeholder="Суурилуулсан огноо" type="text" class="form-control datetimepicker" name="suuriluulsan_ognoo" value="{{search_q.suuriluulsan_ognoo}}">
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-warning btn-fill btn-wd" type="submit">Шүүж харах</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>

                    <table id="bootstrap-table1" class="table shugam" style="margin-left: 10px;">
                        <thead>
                        <th data-field="check" class="text-center">№</th>
                        <th data-field="ded_stants" data-sortable="true" class="text-center">Дэд станц</th>
                        <th data-field="shugam_ner" data-sortable="true" class="text-center">Нэр</th>
                        <th data-field="shugam_tip" data-sortable="true" class="text-center">Тип</th>
                        <th data-field="shugam_tuluv" data-sortable="true" class="text-center">Төлөв</th>
                        <th data-field="tooluur" data-sortable="true" class="text-center">Тоолуур</th>
                        <th data-field="suuriluulsan_ognoo" data-sortable="true" class="text-center">Суурилуулсан огноо</th>
                        <th data-field="actions" class="td-actions text-center">Засвар</th>
                        </thead>
                        <tbody>
                        {% for shugam in shugams %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td class="text-center">{{ shugam.ded_stants.name }}</td>
                            <td class="text-center">{{ shugam.shugam_ner }}</td>
                            <td class="text-center">
                                {% if shugam.shugam_tip == '0' %}
                                Оролт
                                {% elif shugam.shugam_tip == '1' %}
                                Гаралт
                                {% elif shugam.shugam_tip == '2' %}
                                СХВТ
                                {% elif shugam.shugam_tip == '3' %}
                                СХС
                                {% else %}
                                ДХТ
                                {% endif %}
                            </td>
                            {% if shugam.shugam_tuluv == '0' %}
                                <td class="text-center cell_bg_red">Залгаатай</td>
                            {% elif shugam.shugam_tuluv == '1' %}
                                <td class="text-center cell_bg_green">Тасархай</td>
                            {% else %}
                                <td class="text-center">Бэлтгэлт</td>
                            {% endif %}
                            <!--<td class="text-center">-->
                                <!--{% if shugam.shugam_tuluv == '0' %}-->
                                <!--<span style="color:#FF0000;">Залгаатай</span>-->
                                <!--{% elif shugam.shugam_tuluv == '1' %}-->
                                <!--<span style="color:#66FF33;">Тасархай</span>-->
                                <!--{% else %}-->
                                <!--<span>Бэлтгэлт</span>-->
                                <!--{% endif %}-->
                            <!--</td>-->
                            <td class="text-center">{{ shugam.tooluur.name }}</td>
                            <td class="text-center">{{ shugam.suuriluulsan_ognoo|date:'Y-m-d' }}</td>
                            <td class="td-actions text-center">
                                {% if perms.data.change_shugam %}
                                <a href="/home/lavlagaa/edit_shugam/{{shugam.id}}/"
                                   class="btn btn-simple btn-warning btn-icon table-action edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                {% endif %}
                                {% if perms.data.delete_shugam %}
                                <a href="/home/lavlagaa/del_shugam/{{shugam.id}}/"
                                   onclick="return confirm('Бичлэгийг устгахдаа итгэлтэй байна уу?')"
                                   class="btn btn-simple btn-danger btn-icon table-action remove">
                                    <i class="fa fa-remove"></i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}